/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Georgia, serif;
	color: #252525;
	min-height: 100vh;
}

/* Menu */

.menu {
	background: #252525;
	padding: 20px 0;
}

.menu-container {
	max-width: 960px;
	margin: 0 auto;
}

.menu-container::after, .menu-container::before {
	content: '';
	display: table;
	clear: both;
}

a.menu-logo {
	display: block;
	float: left;
	margin-left: 10px;
}

.menu-nav {
	float: right;
	margin-right: 10px;
}

.menu-nav li {
	display: inline-block;
}

.menu-nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 1.125em;
}


.menu-nav li::after{
	content: "";
	display: block;
	background-color: #fff;
	height: 5px;
	width: 0px;
	transition: 0.3s;
}

.menu-nav li:hover::after{
	width: 100%;
}

@media (max-width: 739px) {
	.menu {
		text-align: center;
	}
	a.menu-logo {
		float: none;
		margin: 0 auto;
	}
	.menu-nav {
		float: none;
		clear: both;
	}
}

.erro{
	background: url('../img/cafe-2.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #fff;
	height: calc(100vh - 130px - 86px)
}

.erro h1{
	color: #fff;
	padding: 100px;
	font-size: 7em;
	text-shadow: 2px 2px 2px #000;
}

.erro h2{
	color: #fff;
	padding: 20px;
	font-size: 2em;
	text-shadow: 2px 2px 2px #000;
}

.erro h3{
	color: #fff;
	padding: 20px;
	font-size: 1.25em;
	text-shadow: 2px 2px 2px #000;
}


button{
	border-radius: 50%;
	padding: 10px;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	font-family: serif;
	font-size: 1.25em;

}
 

@media (max-width: 400px){
	text-align: center;
	font-size: 3em;
}

/*Footer*/

.footer {
	background: #d6d3c8;
	padding: 40px 0;
	}

.footer-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer-container::after, .footer-container::before {
	content: '';
	display: table;
	clear: both;
}

.footer p {
	float: left;
	margin: 0 10px;
	font-size: 1.125em;
	line-height: 1.4em;
}

.footer img {
	float: right;
	margin: 0 10px;
	display: block;
}

@media (max-width: 739px) {
	.footer-container {
		max-width: 300px;
	}
	.footer p {
		float: none;
		margin: 0px;
	}
	.footer img {
		float: none;
		margin: 20px 0;
	}
}











